<DirectoryRef Id="INSTALLDIR">
  <Directory Id="ACCOUNTABLE_ITEMS" Name="Accountable Items" />
  <Directory Id="BIOHAND" Name="BioHand" />
  <Directory Id="BIOMETRIC" Name="Biometric" />
  <Directory Id="BIOWIN" Name="BioWin" />
  <Directory Id="ISYourDataBaseDir" Name="Database" />
  <Directory Id="XCANONCAM" Name="XCanonCam" />
</DirectoryRef>
<DirectoryRef Id="BIOWIN">
  <Directory Id="ACTIVEX" Name="ActiveX" />
</DirectoryRef>
<DirectoryRef Id="TARGETDIR">
  <Directory Id="ALLUSERSPROFILE" Name="All Users" />
  <Directory Id="AdminToolsFolder" Name="AdminTools" />
  <Directory Id="AppDataFolder" Name="Application Data" />
  <Directory Id="CommonAppDataFolder" Name="CommonAppData" />
  <Directory Id="CommonFiles64Folder" Name="Common64" />
  <Directory Id="CommonFilesFolder" Name="Common" />
  <Directory Id="DesktopFolder" Name="Desktop" />
  <Directory Id="FavoritesFolder" Name="Favorites" />
  <Directory Id="FontsFolder" Name="Fonts" />
  <Directory Id="GlobalAssemblyCache" Name="GlobalAssemblyCache" />
  <Directory Id="LocalAppDataFolder" Name="LocalAppData" />
  <Directory Id="MyPicturesFolder" Name="MyPictures" />
  <Directory Id="NEW_DIRECTORY1" Name="NEW_DIRECTORY1" />
  <Directory Id="NEW_DIRECTORY10" Name="NEW_DIRECTORY10" />
  <Directory Id="NEW_DIRECTORY11" Name="NEW_DIRECTORY11" />
  <Directory Id="NEW_DIRECTORY12" Name="NEW_DIRECTORY12" />
  <Directory Id="NEW_DIRECTORY13" Name="NEW_DIRECTORY13" />
  <Directory Id="NEW_DIRECTORY14" Name="NEW_DIRECTORY14" />
  <Directory Id="NEW_DIRECTORY15" Name="NEW_DIRECTORY15" />
  <Directory Id="NEW_DIRECTORY16" Name="NEW_DIRECTORY16" />
  <Directory Id="NEW_DIRECTORY17" Name="NEW_DIRECTORY17" />
  <Directory Id="NEW_DIRECTORY18" Name="NEW_DIRECTORY18" />
  <Directory Id="NEW_DIRECTORY19" Name="NEW_DIRECTORY19" />
  <Directory Id="NEW_DIRECTORY2" Name="NEW_DIRECTORY2" />
  <Directory Id="NEW_DIRECTORY20" Name="NEW_DIRECTORY20" />
  <Directory Id="NEW_DIRECTORY21" Name="NEW_DIRECTORY21" />
  <Directory Id="NEW_DIRECTORY22" Name="NEW_DIRECTORY22" />
  <Directory Id="NEW_DIRECTORY23" Name="NEW_DIRECTORY23" />
  <Directory Id="NEW_DIRECTORY3" Name="NEW_DIRECTORY3" />
  <Directory Id="NEW_DIRECTORY4" Name="NEW_DIRECTORY4" />
  <Directory Id="NEW_DIRECTORY5" Name="NEW_DIRECTORY5" />
  <Directory Id="NEW_DIRECTORY6" Name="NEW_DIRECTORY6" />
  <Directory Id="NEW_DIRECTORY7" Name="NEW_DIRECTORY7" />
  <Directory Id="NEW_DIRECTORY8" Name="NEW_DIRECTORY8" />
  <Directory Id="NEW_DIRECTORY9" Name="NEW_DIRECTORY9" />
  <Directory Id="NIV" Name="niv" />
  <Directory Id="PersonalFolder" Name="Personal" />
  <Directory Id="PrimaryVolumePath" Name="PrimaryVolumePath" />
  <Directory Id="ProgramFiles64Folder" Name="Program Files 64" />
  <Directory Id="ProgramFilesFolder" Name="program files" />
  <Directory Id="ProgramMenuFolder" Name="Programs" />
  <Directory Id="SendToFolder" Name="SendTo" />
  <Directory Id="StartMenuFolder" Name="Start Menu" />
  <Directory Id="StartupFolder" Name="StartUp" />
  <Directory Id="System16Folder" Name="System" />
  <Directory Id="System64Folder" Name="System64" />
  <Directory Id="SystemFolder" Name="System32" />
  <Directory Id="TempFolder" Name="Temp" />
  <Directory Id="TemplateFolder" Name="ShellNew" />
  <Directory Id="USERPROFILE" Name="UserProfile" />
  <Directory Id="WindowsFolder" Name="Windows" />
  <Directory Id="WindowsVolume" Name="WinRoot" />
</DirectoryRef>
<DirectoryRef Id="ProgramFilesFolder">
  <Directory Id="CSD_SCAN" Name="CSD_Scan" />
  <Directory Id="DEPARTMENT_OF_STATE" Name="Department of State" />
  <Directory Id="ISMyCompanyDir" Name="My Company Name" />
  <Directory Id="MY_PRODUCT_NAME" Name="CSD Reusable Components" />
</DirectoryRef>
<DirectoryRef Id="ISYourDataBaseDir">
  <Directory Id="DATABASEDIR" Name="." />
</DirectoryRef>
<DirectoryRef Id="MY_PRODUCT_NAME">
  <Directory Id="INSTALLDIR" Name="." />
</DirectoryRef>
<DirectoryRef Id="CommonFilesFolder">
  <Directory Id="ISCommonFilesFolder" Name="InstallShield" />
</DirectoryRef>
<DirectoryRef Id="ISMyCompanyDir">
  <Directory Id="ISMyProductDir" Name="My Product Name" />
</DirectoryRef>
<DirectoryRef Id="ISCommonFilesFolder">
  <Directory Id="ISUpdateServiceFolder" Name="UpdateService" />
</DirectoryRef>
<DirectoryRef Id="CSD_SCAN">
  <Directory Id="SCANPROCESS" Name="ScanProcess" />
</DirectoryRef>
<DirectoryRef Id="depart_1_department_of_state">
  <Directory Id="csdreu_1_csd_reusable_components" Name="CSD Reusable Components" />
</DirectoryRef>
<DirectoryRef Id="ProgramMenuFolder">
  <Directory Id="depart_1_department_of_state" Name="Department of State" />
</DirectoryRef>
